In [12]:
import pyodbc
import pandas as pd

from UtilesValorizacion import StrTabla2ArrTabla

In [13]:
server = '172.16.1.38'
username = 'sa'
password = 'qwerty123'
driver = '{ODBC Driver 17 for SQL Server}'
cn = pyodbc.connect('DRIVER=' + driver + ';SERVER=' + server + ';UID=' + username + ';PWD=' + password)

In [14]:
def solicitar_bonos_ejemplo(n):
    bonos = 'SELECT TOP (' + str(n) + ') TablaDesarrollo, FechaEmision FROM [dbAlgebra].[dbo].[TdNemoRF] ORDER BY Fecha DESC'
    bonos = pd.read_sql(bonos, cn)
    return pd.DataFrame(bonos)

In [15]:
bonos = solicitar_bonos_ejemplo(10)
bonos

                                     TablaDesarrollo FechaEmision
0  1#07-07-2019#1,6476#0#100#1,6476|2#07-01-2020#...   2019-02-07
1  1#15-03-2010#2,1763#0#100#2,1763|2#15-09-2010#...   2009-09-15
2  1#01-12-2018#0,9455#0#100#0,9455|2#01-06-2019#...   2018-06-01
3  1#01-12-2018#2,2252#0#100#2,2252|2#01-06-2019#...   2018-06-01
4  1#01-03-2010#2,4207#2,27272#97,72728#4,69342|2...   2009-09-01
5  1#10-06-2019#3,82256919571133#0#100#3,82256919...   2018-06-11
6  1#11-11-2019#3,71198428134404#0#100#3,71198428...   2018-11-12
7  1#11-06-2019#3,83385917357224#0#100#3,83385917...   2018-06-11
8  1#10-01-2018#3,8222367294881#0#100#3,822236729...   2017-01-10
9  1#13-05-2019#3,79274514526169#0#100#3,79274514...   2018-05-11

In [18]:
a = StrTabla2ArrTabla(bonos.iloc[0]['TablaDesarrollo'], bonos.iloc[0]['FechaEmision'].to_pydatetime().date().strftime('%Y-%m-%d'))
a

array([['0', datetime.datetime(2019, 2, 7, 0, 0), '2019-02-07', 0.0, 0.0,
        100.0, 0.0],
       ['1', datetime.datetime(2019, 7, 7, 0, 0), '2019-02-07', 1.6476,
        0.0, 100.0, 1.6476],
       ['2', datetime.datetime(2020, 1, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['3', datetime.datetime(2020, 7, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['4', datetime.datetime(2021, 1, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['5', datetime.datetime(2021, 7, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['6', datetime.datetime(2022, 1, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['7', datetime.datetime(2022, 7, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['8', datetime.datetime(2023, 1, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['9', datetime.datetime(2023, 7, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['10', datetime.datetime(2024, 1, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['11', datetime.datetime(2024, 7, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['12', datetime.datetime(2025, 1, 7, 0, 0), '2019-02-07', 1.9804,
        0.0, 100.0, 1.9804],
       ['13', datetime.datetime(2025, 7, 7, 0, 0), '2019-02-07', 1.9804,
        1.79688, 98.20312, 3.77728],
       ['14', datetime.datetime(2026, 1, 7, 0, 0), '2019-02-07', 1.94482,
        1.79688, 96.40624, 3.7417],
       ['15', datetime.datetime(2026, 7, 7, 0, 0), '2019-02-07', 1.90922,
        3.08788, 93.31836, 4.9971],
       ['16', datetime.datetime(2027, 1, 7, 0, 0), '2019-02-07', 1.84808,
        3.08788, 90.23048, 4.93596],
       ['17', datetime.datetime(2027, 7, 7, 0, 0), '2019-02-07', 1.78692,
        5.02602, 85.20446, 6.81294],
       ['18', datetime.datetime(2028, 1, 7, 0, 0), '2019-02-07', 1.68738,
        5.02602, 80.17844, 6.7134],
       ['19', datetime.datetime(2028, 7, 7, 0, 0), '2019-02-07', 1.58786,
        7.19434, 72.9841, 8.7822],
       ['20', datetime.datetime(2029, 1, 7, 0, 0), '2019-02-07', 1.44538,
        7.19434, 65.78976, 8.63972],
       ['21', datetime.datetime(2029, 7, 7, 0, 0), '2019-02-07', 1.3029,
        16.04522, 49.74454, 17.34812],
       ['22', datetime.datetime(2030, 1, 7, 0, 0), '2019-02-07', 0.98514,
        16.04522, 33.69932, 17.03036],
       ['23', datetime.datetime(2030, 7, 7, 0, 0), '2019-02-07', 0.66738,
        16.84966, 16.84966, 17.51704],
       ['24', datetime.datetime(2031, 1, 7, 0, 0), '2019-02-07', 0.3337,
        16.84966, 0.0, 17.18336]], dtype=object)

In [22]:
a[:,0]

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24'], dtype=object)

In [ ]:
data = pd.DataFrame()