# Uso del objeto Empresa
El objeto maneja múltiples derivados

In [1]:
from Derivados.Empresa import *

In [2]:
import pyodbc
import pandas as pd
import numpy as np
import datetime

# Credenciales para la base de datos
server = '192.168.30.200'
username = 'mvillegas'
password = 'lqpe1OfF'
driver = '{SQL Server}'  # Driver you need to connect to the database

cnn = pyodbc.connect('DRIVER=' + driver + ';SERVER=' + server + ';;UID=' + username + ';PWD=' + password)

## Creación del objeto empresa
Es equivalente a la creación de un derivado, pero ahora el DataFrame acepta múltiples columnas.

El siguiente código selecciona la información de todos los derivados valorizados en una fecha específica

In [3]:
from Util import fecha_str
fecha = datetime.date(2018,12,14)
hora = '1500'
condicion = "WHERE Fecha = " + fecha_str(fecha)

sql = ("SELECT * FROM [dbDerivados].[dbo].[TdCarteraDerivados_V2] " + condicion)

info = pd.io.sql.read_sql(sql, cnn)

In [4]:
info

,ID_Key,Fecha,Administradora,Fondo,Contraparte,Tipo,ID,FechaTransaccion,FechaFixing,TenorFixing,...,TipoTasaActivo,TasaActivo,SpreadActivo,NocionalPasivo,MonedaPasivo,FrecuenciaPasivo,TipoTasaPasivo,TasaPasivo,SpreadPasivo,MonedaBase
0,146853,2018-12-14,29,CFILVDRA,Santander,FWD,1352,2018-11-26,2019-04-26,0,...,--,-1000.000,-1000.0,8.500000e+05,EUR,--,--,-1000.0,-1000.0,USD
1,146851,2018-12-14,29,CFILVOAR,Santander,FWD,1343,2018-10-04,2019-03-04,0,...,--,-1000.000,-1000.0,2.350000e+06,EUR,--,--,-1000.0,-1000.0,USD
2,146842,2018-12-14,29,CFILVTAB,Santander,SCC,1306,2018-03-08,1900-01-01,0,...,Fija,2.980,-1000.0,1.000000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
3,146843,2018-12-14,29,FMCCCONS,BBVA Chile,SCC,1307,2018-03-08,1900-01-01,0,...,Fija,3.000,-1000.0,1.200000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
4,146846,2018-12-14,29,FMCCCREC,BBVA Chile,SCC,1312,2018-03-08,1900-01-01,0,...,Fija,3.000,-1000.0,1.800000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
5,146841,2018-12-14,29,FMLIDER,BBVA Chile,SCC,1305,2018-03-08,1900-01-01,0,...,Fija,3.000,-1000.0,1.800000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
6,146852,2018-12-14,29,FMLIDER,JP Morgan,SCC,1344,2018-10-08,1900-01-01,0,...,Fija,3.615,-1000.0,3.000000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
7,146844,2018-12-14,29,FMLVAHORRO,Santander,SCC,1310,2018-03-08,1900-01-01,0,...,Fija,2.980,-1000.0,1.000000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
8,146847,2018-12-14,29,FMLVAHORRO,Santander,SCC,1313,2018-03-08,1900-01-01,0,...,Fija,2.990,-1000.0,1.000000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
9,146849,2018-12-14,29,FMLVAHORRO,Santander,SCC,1325,2018-03-22,1900-01-01,0,...,Fija,2.860,-1000.0,2.000000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
10,146850,2018-12-14,29,FMLVESTRAT,JP Morgan,SCC,1337,2018-06-08,1900-01-01,0,...,Fija,3.250,-1000.0,5.000000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
11,146840,2018-12-14,29,FMLVESTRAT,Santander,SCC,1304,2018-03-08,1900-01-01,0,...,Fija,2.980,-1000.0,3.000000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
12,146845,2018-12-14,29,FMLVESTRAT,Santander,SCC,1311,2018-03-08,1900-01-01,0,...,Fija,2.990,-1000.0,2.000000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP
13,146848,2018-12-14,29,FMLVPROT,BBVA Chile,SCC,1314,2018-03-08,1900-01-01,0,...,Fija,3.000,-1000.0,2.000000e+09,CLP,Semi annual,Flotante,-1000.0,-1000.0,CLP

Misma creación

In [5]:
empresa = Empresa(fecha, hora, info, cnn)

### Flujos derivado
Un DataFrame de pandas que posee la información de los flujos

In [6]:
empresa.get_flujos_derivados()

Empty DataFrame
Columns: []
Index: []

### Flujos no sensibles
Un DataFrame de pandas que posee la información de flujos no sensibles

In [7]:
empresa.get_flujos_nosensibles()

Empty DataFrame
Columns: []
Index: []

### Flujos valorizados
Un DataFrame de pandas que posee la información de los flujos valorizados

In [8]:
empresa.get_flujos_valorizados()

Empty DataFrame
Columns: []
Index: []

## Crear objetos derivados

In [9]:
a = datetime.datetime.now()
# ----------------------------

empresa.crear_derivados()

# ----------------------------
b = datetime.datetime.now()
tiempo_generar = (b-a).total_seconds()
print(tiempo_generar, "segundos para generar flujos")

0.202843 segundos para generar flujos

### Generar flujos
El método *genera_flujos()* se encarga de este proceso y deja sus resultados en los DataFrame de flujos y de flujos no sensibles

In [10]:
a = datetime.datetime.now()
# ----------------------------


empresa.genera_flujos()


# ----------------------------
b = datetime.datetime.now()
tiempo_generar = (b-a).total_seconds()
print(tiempo_generar, "segundos para generar flujos")

4.586861 segundos para generar flujos

### Valorizar los flujos
Se valorizan los flujos y se guarda el DataFrame con la valorización.  
Este proceso NO incluye el tipo cambio spot.

In [11]:
a = datetime.datetime.now()
# ----------------------------


empresa.valoriza_flujos()


# ----------------------------
b = datetime.datetime.now()
tiempo_valorizar = (b-a).total_seconds()
print(tiempo_valorizar, "segundos para valorizar flujos")

3.758472 segundos para valorizar flujos

### Agregar el cambio spot
Luego de ejecutar este método, el DataFrame con flujos valorizados tendrá los tipos de cambio

In [12]:
a = datetime.datetime.now()
# ----------------------------


empresa.agrega_cambio_spot()


# ----------------------------
b = datetime.datetime.now()
tiempo_cambio = (b-a).total_seconds()
print(tiempo_cambio, "segundos para agregar cambio_spot")

34.636912 segundos para agregar cambio_spot

### Valorización DV01
Aquí se requiere que el cambio spot ya esté calculado para los flujos valorizados.  
El resultado quedará en el DataFrame corresponiente

In [13]:
a = datetime.datetime.now()
# ----------------------------


empresa.valoriza_flujos_DV01()


# ----------------------------
b = datetime.datetime.now()
DV01 = (b-a).total_seconds()
print(DV01, "segundos para DV01")

0.870383 segundos para DV01

## Azucar sintáctico
El método procesar_todo()... procesa todo

In [14]:
empresa.procesar_todo()