# Funciones de Dataframes

En este documento se ejemplificna las siguientes funciones de dataframes de Pandas:

0) Imports

1) C칩mo sacar datos de SQL

2) Join

3) Seleccionar filas

4) Editar data seleccionada

5) A침adir data

6) A침adir columnas

7) Agrupar data

8) Top n

9) Select distinct

# 0) Imports

In [1]:

#El import de pandas
import pandas as pd

# para conectarse a SQL
import pyodbc

# import para copiar objetos
from copy import deepcopy

# para crear fechas
from datetime import datetime

# el infaltable numpy
import numpy as np

#Ojo colocar usuario y clave
SQLconnection = pyodbc.connect( 'DRIVER={SQL Server};SERVER=192.168.30.200;DATABASE=dbAlgebra;UID=cscheihing;PWD=ZKeVwfZJ' )

# 1) C칩mo sacar datos de SQL

In [2]:
# unos pocos d칤as de transacciones de nemos que parten con BA...
sqlEjemplo = ''' SELECT T.Fecha, T.Familia, T.Nemotecnico, T.MontoPesos
FROM dbAlgebra.dbo.TdTransaLvaRF T WITH(NOLOCK) 
WHERE T.Familia='BE' AND (T.SiValida = 1) 
AND (T.Fecha between '20180102' and '20180104') 
AND T.Nemotecnico like 'BA%'  '''


dataTransacciones = pd.io.sql.read_sql(sqlEjemplo, SQLconnection)


#Lo mismo para sacar UF
sqlUFLiquidez= '''select Fecha, UF from dbAlgebra.dbo.TdIndicadores I
where Fecha between '20180102' and '20180104' '''

dataUF = pd.io.sql.read_sql(sqlUFLiquidez, SQLconnection)



# N칩tese que se ve m치s bonito sin el print(), esto es por ser dataframe
dataTransacciones

        Fecha Familia Nemotecnico    MontoPesos
0  2018-01-04      BE     BARAU-J  5.617787e+07
1  2018-01-04      BE     BARAU-J  1.403769e+07
2  2018-01-04      BE     BARAU-P  1.514840e+09
3  2018-01-04      BE     BARAU-P  1.516053e+09
4  2018-01-04      BE     BARAU-P  3.029680e+08
5  2018-01-04      BE    BAVNO-A1  2.663840e+08
6  2018-01-04      BE    BAVNO-A1  2.663645e+08
7  2018-01-04      BE     BAYS3-A  2.526877e+09
8  2018-01-03      BE     BAGUA-J  1.375185e+07
9  2018-01-03      BE     BAGUA-R  4.565177e+06
10 2018-01-03      BE     BARAU-P  1.207762e+09
11 2018-01-03      BE     BARAU-P  3.332014e+09
12 2018-01-03      BE     BARAU-P  3.019404e+08
13 2018-01-03      BE     BARAU-P  3.019404e+08
14 2018-01-03      BE     BARAU-P  3.019404e+08
15 2018-01-03      BE     BARAU-P  3.019404e+08
16 2018-01-03      BE     BARAU-P  3.024254e+08
17 2018-01-03      BE     BARAU-P  3.024254e+08
18 2018-01-03      BE     BARAU-P  3.024254e+08
19 2018-01-03      BE     BARAU-P  3.024254e+08
20 2018-01-03      BE     BARAU-P  3.024254e+08
21 2018-01-03      BE     BARAU-P  3.024254e+08
22 2018-01-03      BE     BARAU-P  3.024254e+08
23 2018-01-03      BE     BARAU-P  3.024254e+08
24 2018-01-03      BE     BARAU-P  3.024254e+08
25 2018-01-03      BE     BARAU-P  3.024254e+08
26 2018-01-03      BE     BARAU-P  3.024254e+08
27 2018-01-03      BE     BARAU-P  3.024254e+08
28 2018-01-03      BE     BARAU-P  3.029103e+08
29 2018-01-03      BE     BARAU-P  3.029103e+08
30 2018-01-03      BE     BARAU-P  3.029103e+08
31 2018-01-03      BE     BARAU-P  3.029103e+08
32 2018-01-03      BE     BARAU-P  3.029103e+08
33 2018-01-03      BE     BARAU-P  3.029103e+08
34 2018-01-03      BE     BARAU-P  3.029103e+08
35 2018-01-03      BE     BARAU-P  3.029103e+08
36 2018-01-03      BE     BARAU-P  3.031528e+08
37 2018-01-03      BE     BARAU-P  3.029103e+08
38 2018-01-03      BE     BARAU-P  3.029103e+08
39 2018-01-03      BE     BARAU-P  3.029103e+08
40 2018-01-03      BE     BARAU-P  3.029103e+08
41 2018-01-03      BE     BARAU-P  3.029103e+08
42 2018-01-03      BE     BARAU-P  3.029103e+08
43 2018-01-03      BE     BARAU-P  3.029103e+08
44 2018-01-03      BE     BARAU-P  3.029103e+08
45 2018-01-03      BE     BARAU-P  3.029103e+08
46 2018-01-03      BE     BARAU-P  3.029103e+08
47 2018-01-03      BE     BARAU-P  3.029103e+08
48 2018-01-03      BE     BARAU-Q  2.413572e+07
49 2018-01-03      BE     BARAU-R  7.470335e+08
50 2018-01-03      BE     BARAU-R  7.479803e+08
51 2018-01-03      BE    BAVNO-A1  2.664791e+08
52 2018-01-03      BE     BAYS3-A  8.209205e+08
53 2018-01-03      BE     BAYS3-A  1.262955e+08
54 2018-01-03      BE     BAYS3-A  1.263922e+09
55 2018-01-03      BE     BAYS3-A  1.895883e+09
56 2018-01-03      BE     BAYS3-A  3.159805e+08
57 2018-01-02      BE     BARAU-J  1.404652e+07
58 2018-01-02      BE     BARAU-Q  4.827070e+07

# 2) Join

In [3]:
# Hago entre los dos dataframe por fecha
# El 'how' dice si es left right o inner join. Por omisi칩n es left
#Cruza la data y anexa las columnas
dataTransacciones = dataTransacciones.join(dataUF.set_index('Fecha'), on='Fecha', how='inner')

dataTransacciones

        Fecha Familia Nemotecnico    MontoPesos        UF
0  2018-01-04      BE     BARAU-J  5.617787e+07  26801.60
1  2018-01-04      BE     BARAU-J  1.403769e+07  26801.60
2  2018-01-04      BE     BARAU-P  1.514840e+09  26801.60
3  2018-01-04      BE     BARAU-P  1.516053e+09  26801.60
4  2018-01-04      BE     BARAU-P  3.029680e+08  26801.60
5  2018-01-04      BE    BAVNO-A1  2.663840e+08  26801.60
6  2018-01-04      BE    BAVNO-A1  2.663645e+08  26801.60
7  2018-01-04      BE     BAYS3-A  2.526877e+09  26801.60
8  2018-01-03      BE     BAGUA-J  1.375185e+07  26800.73
9  2018-01-03      BE     BAGUA-R  4.565177e+06  26800.73
10 2018-01-03      BE     BARAU-P  1.207762e+09  26800.73
11 2018-01-03      BE     BARAU-P  3.332014e+09  26800.73
12 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
13 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
14 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
15 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
16 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
17 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
18 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
19 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
20 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
21 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
22 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
23 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
24 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
25 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
26 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
27 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
28 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
29 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
30 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
31 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
32 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
33 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
34 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
35 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
36 2018-01-03      BE     BARAU-P  3.031528e+08  26800.73
37 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
38 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
39 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
40 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
41 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
42 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
43 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
44 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
45 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
46 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
47 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
48 2018-01-03      BE     BARAU-Q  2.413572e+07  26800.73
49 2018-01-03      BE     BARAU-R  7.470335e+08  26800.73
50 2018-01-03      BE     BARAU-R  7.479803e+08  26800.73
51 2018-01-03      BE    BAVNO-A1  2.664791e+08  26800.73
52 2018-01-03      BE     BAYS3-A  8.209205e+08  26800.73
53 2018-01-03      BE     BAYS3-A  1.262955e+08  26800.73
54 2018-01-03      BE     BAYS3-A  1.263922e+09  26800.73
55 2018-01-03      BE     BAYS3-A  1.895883e+09  26800.73
56 2018-01-03      BE     BAYS3-A  3.159805e+08  26800.73
57 2018-01-02      BE     BARAU-J  1.404652e+07  26799.87
58 2018-01-02      BE     BARAU-Q  4.827070e+07  26799.87

# 3) Seleccionar filas

In [4]:
Nemos=['BARAU-J','BARAU-Q','BAYS3-A']
fecha=datetime.strptime('20180103', '%Y%m%d')

# Pido que el Nemo est칠 en la lista anterior y la fecha sea >= al 3 de Enero
# Utilizo deepcopy para asegurarme de que el filtro no sea un puntero a la lista original con restricciones
filtro=deepcopy(dataTransacciones.loc[(dataTransacciones['Nemotecnico'].isin(Nemos)) & (dataTransacciones['Fecha'] >= fecha) ] )

filtro

        Fecha Familia Nemotecnico    MontoPesos        UF
0  2018-01-04      BE     BARAU-J  5.617787e+07  26801.60
1  2018-01-04      BE     BARAU-J  1.403769e+07  26801.60
7  2018-01-04      BE     BAYS3-A  2.526877e+09  26801.60
48 2018-01-03      BE     BARAU-Q  2.413572e+07  26800.73
52 2018-01-03      BE     BAYS3-A  8.209205e+08  26800.73
53 2018-01-03      BE     BAYS3-A  1.262955e+08  26800.73
54 2018-01-03      BE     BAYS3-A  1.263922e+09  26800.73
55 2018-01-03      BE     BAYS3-A  1.895883e+09  26800.73
56 2018-01-03      BE     BAYS3-A  3.159805e+08  26800.73

# 4) Editar data seleccionada

In [5]:
# edito los nemos que selecci칠 en el paso 3) y cambio los nemo por NewNemo
dataTransacciones.loc[filtro.index,'Nemotecnico'] = 'NewNemo'
dataTransacciones

        Fecha Familia Nemotecnico    MontoPesos        UF
0  2018-01-04      BE     NewNemo  5.617787e+07  26801.60
1  2018-01-04      BE     NewNemo  1.403769e+07  26801.60
2  2018-01-04      BE     BARAU-P  1.514840e+09  26801.60
3  2018-01-04      BE     BARAU-P  1.516053e+09  26801.60
4  2018-01-04      BE     BARAU-P  3.029680e+08  26801.60
5  2018-01-04      BE    BAVNO-A1  2.663840e+08  26801.60
6  2018-01-04      BE    BAVNO-A1  2.663645e+08  26801.60
7  2018-01-04      BE     NewNemo  2.526877e+09  26801.60
8  2018-01-03      BE     BAGUA-J  1.375185e+07  26800.73
9  2018-01-03      BE     BAGUA-R  4.565177e+06  26800.73
10 2018-01-03      BE     BARAU-P  1.207762e+09  26800.73
11 2018-01-03      BE     BARAU-P  3.332014e+09  26800.73
12 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
13 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
14 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
15 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
16 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
17 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
18 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
19 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
20 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
21 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
22 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
23 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
24 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
25 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
26 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
27 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
28 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
29 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
30 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
31 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
32 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
33 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
34 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
35 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
36 2018-01-03      BE     BARAU-P  3.031528e+08  26800.73
37 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
38 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
39 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
40 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
41 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
42 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
43 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
44 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
45 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
46 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
47 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
48 2018-01-03      BE     NewNemo  2.413572e+07  26800.73
49 2018-01-03      BE     BARAU-R  7.470335e+08  26800.73
50 2018-01-03      BE     BARAU-R  7.479803e+08  26800.73
51 2018-01-03      BE    BAVNO-A1  2.664791e+08  26800.73
52 2018-01-03      BE     NewNemo  8.209205e+08  26800.73
53 2018-01-03      BE     NewNemo  1.262955e+08  26800.73
54 2018-01-03      BE     NewNemo  1.263922e+09  26800.73
55 2018-01-03      BE     NewNemo  1.895883e+09  26800.73
56 2018-01-03      BE     NewNemo  3.159805e+08  26800.73
57 2018-01-02      BE     BARAU-J  1.404652e+07  26799.87
58 2018-01-02      BE     BARAU-Q  4.827070e+07  26799.87

# 5) A침adir data

In [6]:
# Junto las dos tablas
dataTransacciones = dataTransacciones.append(filtro, ignore_index=True)
dataTransacciones

        Fecha Familia Nemotecnico    MontoPesos        UF
0  2018-01-04      BE     NewNemo  5.617787e+07  26801.60
1  2018-01-04      BE     NewNemo  1.403769e+07  26801.60
2  2018-01-04      BE     BARAU-P  1.514840e+09  26801.60
3  2018-01-04      BE     BARAU-P  1.516053e+09  26801.60
4  2018-01-04      BE     BARAU-P  3.029680e+08  26801.60
5  2018-01-04      BE    BAVNO-A1  2.663840e+08  26801.60
6  2018-01-04      BE    BAVNO-A1  2.663645e+08  26801.60
7  2018-01-04      BE     NewNemo  2.526877e+09  26801.60
8  2018-01-03      BE     BAGUA-J  1.375185e+07  26800.73
9  2018-01-03      BE     BAGUA-R  4.565177e+06  26800.73
10 2018-01-03      BE     BARAU-P  1.207762e+09  26800.73
11 2018-01-03      BE     BARAU-P  3.332014e+09  26800.73
12 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
13 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
14 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
15 2018-01-03      BE     BARAU-P  3.019404e+08  26800.73
16 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
17 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
18 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
19 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
20 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
21 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
22 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
23 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
24 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
25 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
26 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
27 2018-01-03      BE     BARAU-P  3.024254e+08  26800.73
28 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
29 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
..        ...     ...         ...           ...       ...
38 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
39 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
40 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
41 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
42 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
43 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
44 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
45 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
46 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
47 2018-01-03      BE     BARAU-P  3.029103e+08  26800.73
48 2018-01-03      BE     NewNemo  2.413572e+07  26800.73
49 2018-01-03      BE     BARAU-R  7.470335e+08  26800.73
50 2018-01-03      BE     BARAU-R  7.479803e+08  26800.73
51 2018-01-03      BE    BAVNO-A1  2.664791e+08  26800.73
52 2018-01-03      BE     NewNemo  8.209205e+08  26800.73
53 2018-01-03      BE     NewNemo  1.262955e+08  26800.73
54 2018-01-03      BE     NewNemo  1.263922e+09  26800.73
55 2018-01-03      BE     NewNemo  1.895883e+09  26800.73
56 2018-01-03      BE     NewNemo  3.159805e+08  26800.73
57 2018-01-02      BE     BARAU-J  1.404652e+07  26799.87
58 2018-01-02      BE     BARAU-Q  4.827070e+07  26799.87
59 2018-01-04      BE     BARAU-J  5.617787e+07  26801.60
60 2018-01-04      BE     BARAU-J  1.403769e+07  26801.60
61 2018-01-04      BE     BAYS3-A  2.526877e+09  26801.60
62 2018-01-03      BE     BARAU-Q  2.413572e+07  26800.73
63 2018-01-03      BE     BAYS3-A  8.209205e+08  26800.73
64 2018-01-03      BE     BAYS3-A  1.262955e+08  26800.73
65 2018-01-03      BE     BAYS3-A  1.263922e+09  26800.73
66 2018-01-03      BE     BAYS3-A  1.895883e+09  26800.73
67 2018-01-03      BE     BAYS3-A  3.159805e+08  26800.73

[68 rows x 5 columns]

# 6) A침adir columnas

In [7]:
# A침ado la columna montoUF operando otras columnas
filtro['MontoUF'] = filtro['MontoPesos']/filtro['UF'] 
filtro

        Fecha Familia Nemotecnico    MontoPesos        UF       MontoUF
0  2018-01-04      BE     BARAU-J  5.617787e+07  26801.60   2096.063966
1  2018-01-04      BE     BARAU-J  1.403769e+07  26801.60    523.763208
7  2018-01-04      BE     BAYS3-A  2.526877e+09  26801.60  94280.811407
48 2018-01-03      BE     BARAU-Q  2.413572e+07  26800.73    900.562186
52 2018-01-03      BE     BAYS3-A  8.209205e+08  26800.73  30630.528534
53 2018-01-03      BE     BAYS3-A  1.262955e+08  26800.73   4712.388991
54 2018-01-03      BE     BAYS3-A  1.263922e+09  26800.73  47159.981874
55 2018-01-03      BE     BAYS3-A  1.895883e+09  26800.73  70739.972829
56 2018-01-03      BE     BAYS3-A  3.159805e+08  26800.73  11789.995459

# 7) Agrupar data

In [8]:
#Agrupo por fecha y Nemo, tomo suma de los dem치s campos, pero podr칤a tomar avg con mean() u otras
dataAgrupada = dataTransacciones.groupby(['Fecha', 'Nemotecnico']).sum()
#La agrupaci칩n me mueve las variables de agrupaci칩n al 칤ndice del dataframe
dataAgrupada

                          MontoPesos          UF
Fecha      Nemotecnico
2018-01-02 BARAU-J      1.404652e+07    26799.87
           BARAU-Q      4.827070e+07    26799.87
2018-01-03 BAGUA-J      1.375185e+07    26800.73
           BAGUA-R      4.565177e+06    26800.73
           BARAU-P      1.543509e+10  1018427.74
           BARAU-Q      2.413572e+07    26800.73
           BARAU-R      1.495014e+09    53601.46
           BAVNO-A1     2.664791e+08    26800.73
           BAYS3-A      4.423001e+09   134003.65
           NewNemo      4.447137e+09   160804.38
2018-01-04 BARAU-J      7.021556e+07    53603.20
           BARAU-P      3.333861e+09    80404.80
           BAVNO-A1     5.327485e+08    53603.20
           BAYS3-A      2.526877e+09    26801.60
           NewNemo      2.597092e+09    80404.80

In [9]:
#Podemos sacar esos campos del 칤ndice y hacer uno nuevo
dataAgrupada=dataAgrupada.reset_index()
dataAgrupada

        Fecha Nemotecnico    MontoPesos          UF
0  2018-01-02     BARAU-J  1.404652e+07    26799.87
1  2018-01-02     BARAU-Q  4.827070e+07    26799.87
2  2018-01-03     BAGUA-J  1.375185e+07    26800.73
3  2018-01-03     BAGUA-R  4.565177e+06    26800.73
4  2018-01-03     BARAU-P  1.543509e+10  1018427.74
5  2018-01-03     BARAU-Q  2.413572e+07    26800.73
6  2018-01-03     BARAU-R  1.495014e+09    53601.46
7  2018-01-03    BAVNO-A1  2.664791e+08    26800.73
8  2018-01-03     BAYS3-A  4.423001e+09   134003.65
9  2018-01-03     NewNemo  4.447137e+09   160804.38
10 2018-01-04     BARAU-J  7.021556e+07    53603.20
11 2018-01-04     BARAU-P  3.333861e+09    80404.80
12 2018-01-04    BAVNO-A1  5.327485e+08    53603.20
13 2018-01-04     BAYS3-A  2.526877e+09    26801.60
14 2018-01-04     NewNemo  2.597092e+09    80404.80

# 8) Top n

In [10]:
# muestro los primeros 5 datos
dataAgrupada.head(5)

       Fecha Nemotecnico    MontoPesos          UF
0 2018-01-02     BARAU-J  1.404652e+07    26799.87
1 2018-01-02     BARAU-Q  4.827070e+07    26799.87
2 2018-01-03     BAGUA-J  1.375185e+07    26800.73
3 2018-01-03     BAGUA-R  4.565177e+06    26800.73
4 2018-01-03     BARAU-P  1.543509e+10  1018427.74

In [11]:
# muestro los 칰ltimos 5 datos
dataAgrupada.tail(5)

        Fecha Nemotecnico    MontoPesos       UF
10 2018-01-04     BARAU-J  7.021556e+07  53603.2
11 2018-01-04     BARAU-P  3.333861e+09  80404.8
12 2018-01-04    BAVNO-A1  5.327485e+08  53603.2
13 2018-01-04     BAYS3-A  2.526877e+09  26801.6
14 2018-01-04     NewNemo  2.597092e+09  80404.8

# Select Distinct

In [12]:
# Selecciono los nemos diferentes
# keep puede ser 'first', 'last' y False, Las primeras dos guardan uno de los duplicados, False borra todos los duplicados
# Por omisi칩n es 'first'
dataDistinctNemo=dataAgrupada.drop_duplicates(subset='Nemotecnico', keep='first')
print(dataDistinctNemo['Nemotecnico'])
dataDistinctNemo

0     BARAU-J
1     BARAU-Q
2     BAGUA-J
3     BAGUA-R
4     BARAU-P
6     BARAU-R
7    BAVNO-A1
8     BAYS3-A
9     NewNemo
Name: Nemotecnico, dtype: object

       Fecha Nemotecnico    MontoPesos          UF
0 2018-01-02     BARAU-J  1.404652e+07    26799.87
1 2018-01-02     BARAU-Q  4.827070e+07    26799.87
2 2018-01-03     BAGUA-J  1.375185e+07    26800.73
3 2018-01-03     BAGUA-R  4.565177e+06    26800.73
4 2018-01-03     BARAU-P  1.543509e+10  1018427.74
6 2018-01-03     BARAU-R  1.495014e+09    53601.46
7 2018-01-03    BAVNO-A1  2.664791e+08    26800.73
8 2018-01-03     BAYS3-A  4.423001e+09   134003.65
9 2018-01-03     NewNemo  4.447137e+09   160804.38

In [13]:
# Con keep=False te deja solo los no repetidos
dataDistinctNemo=dataAgrupada.drop_duplicates(subset='Nemotecnico', keep=False)
print(dataDistinctNemo['Nemotecnico'])
dataDistinctNemo

2    BAGUA-J
3    BAGUA-R
6    BARAU-R
Name: Nemotecnico, dtype: object

       Fecha Nemotecnico    MontoPesos        UF
2 2018-01-03     BAGUA-J  1.375185e+07  26800.73
3 2018-01-03     BAGUA-R  4.565177e+06  26800.73
6 2018-01-03     BARAU-R  1.495014e+09  53601.46