In [1]:
import pyodbc
import sys

from Activo import *
from Accion import *
from Bono import *
from Derivado import *
from DerivadosTipos.DerivadosSCC import *

from Cartera import *

In [2]:
server = '172.16.1.38'
username = 'sa'
password = 'qwerty123'
driver = '{ODBC Driver 17 for SQL Server}'
cn = pyodbc.connect('DRIVER=' + driver + ';SERVER=' + server + ';UID=' + username + ';PWD=' + password)

In [3]:
def bonos_dbAlgebra(n,cn):
    bonos = 'SELECT TOP(' + str(n) + ") bono.Moneda, bono.TablaDesarrollo, bono.Base1 , bono.Base2, bono.FechaEmision, riesgo.Riesgo AS RiesgoInt FROM [dbAlgebra].[dbo].[TdNemoRF] AS bono , [dbAlgebra].[dbo].[VwRiesgoRF] AS riesgo WHERE bono.Nemotecnico = riesgo.Nemotecnico"
    bonos = pd.read_sql(bonos, cn)
    return pd.DataFrame(bonos)

In [4]:
bonos = bonos_dbAlgebra(5,cn)
bonos

,Moneda,TablaDesarrollo,Base1,Base2,FechaEmision,RiesgoInt
0,UF,"1#01-05-2020#1,71#4,23#95,77#5,94|2#01-08-2020...",30,360,2020-02-01,2
1,UF,"1#01-05-2019#1,71#4,23#95,77#5,94|2#01-08-2019...",30,360,2019-02-01,2
2,UF,"1#01-05-2018#1,71#4,23#95,77#5,94|2#01-08-2018...",30,360,2018-02-01,2
3,UF,"1#01-05-2017#1,71#4,23#95,77#5,94|2#01-08-2017...",30,360,2017-02-01,2
4,UF,"1#01-05-2016#1,71#4,23#95,77#5,94|2#01-08-2016...",30,360,2016-02-01,2

In [5]:
def conversionSYP(riesgo):
    return {1: 'AAA',2: 'AA',3: 'AA',4: 'AA',5: 'A',6: 'A',7: 'A',8: 'BBB',9: 'BBB',10: 'BBB',\
            11: 'BB',12: 'BB',13: 'BB',14: 'B',15: 'B',16: 'B',17: 'CCC',18: 'CC',19: 'CC',20: 'C',\
            21: 'C',22: 'C',23: 'D',24: 'E'}.get(riesgo)

In [6]:
def ajustes(bonos):
    bonos['FechaEmision'] = bonos['FechaEmision'].apply(lambda x: x.strftime('%Y-%m-%d'))
    bonos['Base1'] = bonos['Base1'].apply(lambda x: x if x != -1 else 'ACT')
    bonos['Base2'] = bonos['Base2'].apply(lambda x: x if x != -1 else 'ACT')
    bonos['Convencion'] = bonos['Base1'].apply(lambda x: str(x)) + '/' + bonos['Base2'].apply(lambda x: str(x))
    bonos['Riesgo'] = bonos['RiesgoInt'].apply(lambda x: conversionSYP(x))
    return bonos

In [7]:
bonos = ajustes(bonos)
bonos

,Moneda,TablaDesarrollo,Base1,Base2,FechaEmision,RiesgoInt,Convencion,Riesgo
0,UF,"1#01-05-2020#1,71#4,23#95,77#5,94|2#01-08-2020...",30,360,2020-02-01,2,30/360,AA
1,UF,"1#01-05-2019#1,71#4,23#95,77#5,94|2#01-08-2019...",30,360,2019-02-01,2,30/360,AA
2,UF,"1#01-05-2018#1,71#4,23#95,77#5,94|2#01-08-2018...",30,360,2018-02-01,2,30/360,AA
3,UF,"1#01-05-2017#1,71#4,23#95,77#5,94|2#01-08-2017...",30,360,2017-02-01,2,30/360,AA
4,UF,"1#01-05-2016#1,71#4,23#95,77#5,94|2#01-08-2016...",30,360,2016-02-01,2,30/360,AA

In [ ]:
cartera = Cartera(pd.DataFrame(), bonos, pd.DataFrame(),'CLP', datetime.date(2019,2,1), cn)